.main{
    width: 1500px;
    margin:auto;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: justify;
}

.code{
    background-color: rgb(240, 255, 240);
    font-family: 'Courier New', Courier, monospace;
    padding:10px;
    padding-left:30px;
    border-left-color: green;
    border-left-width: 5px;
    border-left-style:solid;
}

h2{
    background-color: rgb(225, 255, 225);
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

